<!-- Quizz Form Creation -->
<form [formGroup]="quizzForm" class="flex flex-col">
    <div formArrayName="quizz">
        @for (question of quizz.controls; track question ;let index = $index; let first = $first;) {
        <div [formGroupName]="$index">

            <div class="mb-6 flex justify-between">
                <span class="text-lg text-slate-200">Question {{$index + 1}}</span>
                @if (!first) {
                    <app-button text="Supprimer Question" [btnType]="btnTypes.PINK" (onClick)="removeQuestion($index)" />
                }
            </div>
            <!-- Quizz Question -->
            <div class="flex flex-col mb-6">
                <p-floatLabel>
                    <input pInputText [id]="'question' + $index" formControlName="question"
                        class="w-full py-3 px-2 peer" />
                    <label [for]="'question' + $index" class="peer-focus:text-slate-200">Question</label>
                </p-floatLabel>
            </div>
            @if (question.get('question')!.dirty && question.get('question')!.errors) {
                <span class="text-red-600 text-sm">
                Veuillez entrer une question valide.
                </span>
            }

            <!-- Quizz Answers -->
            <div class="flex flex-col mb-6">
                <p-floatLabel>
                    <input pInputText [id]="'answers' + $index" formControlName="answers" class="w-full py-3 px-2 peer"
                        (keyup)="onAnswersChanged($event, $index)" />
                    <label [for]="'answers' + $index" class="peer-focus:text-slate-200">
                        Réponses associées (séparées par une virgule)
                    </label>
                </p-floatLabel>
                <!-- Selected Answers -->
                <div class="flex flex-row flex-wrap gap-2 mt-2">
                    @for (answer of answers[$index]; track $index) {
                        <span class="text-slate-700 bg-sky-400 rounded-full px-2">{{answer}}</span>
                    }
                </div>
            </div>
        </div>
        }
    </div>

    <div class="flex flex-col gap-y-2 md:flex-row justify-around rounded-b-md items-center p-4">
        <app-button text="Ajouter une question" [btnType]="btnTypes.CYAN" (onClick)="addQuestion()"/>
    </div>
</form>