<div class="flex flex-col items-center">
    <!-- Title -->
    <div class="w-9/12 mb-6 border-b-2 border-pink-600">
        <h2 class="text-2xl text-slate-200">Connexion à votre compte</h2>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex flex-col w-full lg:w-1/2  p-6 rounded bg-slate-700">
        <!-- Username TODO: or email -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <input pInputText id="username" formControlName="username" class="w-full py-3 px-2 peer" >
                <label for="username" class="peer-focus:text-slate-200">Nom d'utilisateur</label>
            </p-floatLabel>
    
            @if (loginForm.get('username')!.dirty && loginForm.get('username')!.errors) {
                <span class="text-red-600 text-sm">
                    Veuillez entrer un nom d'utilisateur valide.
                </span>
            }
        </div>
    
        <!-- Password -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <p-password id="password" formControlName="password" styleClass="w-full" inputStyleClass="w-full py-3 px-2" [feedback]="false" [toggleMask]="true"/>
                <label for="password">Mot de passe</label>
            </p-floatLabel>
        </div>
    
        <!-- Submit -->
        @if (loginForm.invalid) {
            <button type="submit" 
            class="bg-pink-950 text-slate-200 font-bold py-2 px-4 rounded cursor-not-allowed" disabled>
            Se connecter
           </button>
         }@else {   
             <button type="submit" 
             class="bg-pink-600 hover:bg-pink-700 text-slate-200 font-bold py-2 px-4 rounded cursor-pointer mt-2">
             Se connecter
            </button>
        }

        @if (errorLogin != '') {
            <div class="text-red-600 text-sm">
                {{errorLogin}}
            </div>
        }
    </form>
</div>