<div class="flex justify-between h-full bg-orange-800 rounded-b px-4">
    <div class="h-full flex items-center w-1/4">
        <span></span>
    </div>
    <div class="h-full flex grow justify-center items-center">
        <span><a routerLink="/">PopPlay</a></span>
        <!-- <img src="assets/img/PopPlay.webp" alt="logo" class="h-full w-auto"> -->
    </div>
    <div class="h-full flex items-center justify-end w-1/4 gap-x-4">
        @if(!isConnected()){
            <a routerLink="accounts/register">S'inscrire</a>
            <a routerLink="accounts/login">Se connecter</a>
        }@else {
            <!-- <a routerLink="account">Account</a> -->
            <a (click)="logout()">Se Déconnecter</a>
        }
    </div>
</div>