<div class="flex justify-between h-full bg-slate-950 text-slate-200 border-b-2 border-pink-600 px-4">
    <div class="h-full flex items-center w-1/4">
        <a routerLink="/" class="h-full aspect-square">
            <img src="assets/img/PopPlay_nobg.png" alt="logo" class="h-full p-1">
        </a>
    </div>

    <div class="h-full flex grow justify-center items-center">
    </div>

    <div class="h-full flex items-center justify-end w-1/4 gap-x-4">
        @if(!isConnected()){
            <a routerLink="accounts/register">S'inscrire</a>
            <a routerLink="accounts/login">Se connecter</a>
        }@else {
             <div class="relative w-full h-full flex flex-col justify-center items-end">
                <span (click)="isSubNavVisible = true" class="cursor-pointer rounded-full border-2 border-pink-600 p-2 aspect-square bg-slate-700 font-bold">{{account()?.user?.username | uppercase | slice:0:2}}</span> <!-- User 'avatar' -->

                @if (isSubNavVisible) { 
                    <!-- Sub Nav -->
                    <div (clickOutside)="closeSubNav()" 
                        class="flex flex-col absolute top-[calc(100%+2px)] right-0 w-[50vw] md:w-[25vw] text-slate-300 rounded-b-md border-2 border-t-0 border-pink-600 bg-slate-950 shadow-sm shadow-slate-950">
                        <div class="px-4 py-2 text-end border-b-[1px] border-slate-400 border-opacity-50">
                            <span class="text-base md:text-lg text-slate-50 font-bold italic">{{account()?.user?.username | upperFirst}}</span> <!-- Username -->
                        </div>                        

                        <div (click)="navigate('account')" class="px-4 py-2 cursor-pointer group hover:text-slate-50 flex flex-row gap-x-2 items-center">
                            <i class="fa-solid fa-user w-[7%]"></i>
                            <span class="group-hover:underline">Mon compte</span>
                        </div>

                        <div (click)="navigate('gameCreation')" class="px-4 py-2 cursor-pointer group hover:text-slate-50 flex flex-row gap-x-2 items-center">
                            <i class="fa-solid fa-circle-plus w-[7%]"></i>
                            <span class="group-hover:underline">Créer un jeu</span>
                        </div>

                        <div (click)="logout()" class="px-4 py-2 cursor-pointer group hover:text-slate-50 flex flex-row gap-x-2 items-center">
                            <i class="fa-solid fa-arrow-right-from-bracket w-[7%]"></i>
                            <span class="group-hover:underline">Se Déconnecter</span>
                        </div>
                    </div>
                }
             </div>
        }
    </div>
</div>