<div class="flex justify-between h-full bg-slate-950 text-slate-200 border-b-2 border-pink-600 px-4">
    <div class="h-full flex items-center w-1/4">
        <a routerLink="/" class="h-full"><img src="assets/img/PopPlay_nobg.png" alt="logo" class="h-full w-auto p-1"></a>
    </div>
    <div class="h-full flex grow justify-center items-center">
    </div>
    <div class="h-full flex items-center justify-end w-1/4 gap-x-4">
        @if(!isConnected()){
            <a routerLink="accounts/register">S'inscrire</a>
            <a routerLink="accounts/login">Se connecter</a>
        }@else {
            <!-- <a routerLink="account">Account</a> -->
            <a (click)="logout()">Se Déconnecter</a>
        }
    </div>
</div>