<div
    [class]="isVisible() ? 'fixed top-32 right-4 w-1/2 md:w-1/4 rounded-md z-50 flex flex-col justify-between bg-slate-100 border text-slate-800 shadow-md bg-opacity-90 border-none': 'hidden'">
    <div [class]="'flex flex-row justify-between items-center rounded-t-md p-2 font-bold ' + cssBg() ">
        <p>{{titre() | upperFirst}}</p>
        <span class="cursor-pointer text-xl" (click)="Dismiss()">&times;</span>
    </div>
    <!-- TODO: make a pipe for first letter in uppercase -->
    <p class="p-4">{{message() | upperFirst}}</p>
</div>