<!-- Account navbar (profile, likes, scores) -->
<div class="flex flex-row flex-wrap md:gap-x-4 px-2 md:px-4 mb-2 md:mb-4 text-slate-200 font-semibold text-base md:text-lg">
    <span [class]="'px-2 md:px-4 py-2 rounded-full cursor-pointer hover:underline' + (isProfileActive ? ' bg-slate-700 border-2 border-pink-600' : '')" (click)="goToProfile()">Profil</span>
    <span [class]="'px-2 md:px-4 py-2 rounded-full cursor-pointer hover:underline' + (isFavoritesActive ? ' bg-slate-700 border-2 border-pink-600' : '')" (click)="goToFavorites()">Favoris</span>
    <span [class]="'px-2 md:px-4 py-2 rounded-full cursor-pointer hover:underline' + (isScoreActive ? ' bg-slate-700 border-2 border-pink-600' : '')" (click)="goToScore()">Scores</span>
</div>
@if (isProfileActive) {
    <app-account-infos [accountInfos]="account()?.user"/>
}@else if (isFavoritesActive) {
    <app-minigame-gallery [minigames]="account()?.games_liked!"/>
}@else if (isScoreActive) {
    <app-account-scores [scores]="account()?.games_score!"/>
}
