<div class="flex flex-col w-full md:w-4/5 h-full m-auto text-slate-200 rounded-md border-2 border-pink-600">
    <!-- TODO: add filtering -->
    <div class="flex flex-row justify-between p-1 md:p-2 font-semibold py-1 md:py-2 border-b-2 rounded-t-md border-pink-600 bg-slate-700">
        <span (click)="canFilter ? sortBy('name') : ''" class="w-[32.5%]" [class]="canFilter ? 'cursor-pointer' : ''">{{isTopScores ? 'Account' : 'Minigame'}}</span>
        @if(!isTopScores) {<span (click)="canFilter ? sortBy('type') : ''" class="w-[32.5%] px-1 md:px-2" [class]="canFilter ? 'cursor-pointer' : ''">Type</span>}
        <span (click)="canFilter ? sortBy('score') : ''" class="w-[14%]" [class]="canFilter ? 'cursor-pointer' : ''">Score</span>
        <span (click)="canFilter ? sortBy('date') : ''" class="w-[21%] pl-1 md:pl-2" [class]="canFilter ? 'cursor-pointer' : ''">Date</span>
    </div>

    <div class="flex flex-col [&>*:nth-child(even)]:bg-slate-700 overflow-auto scrollbar rounded-b-md ">
        @for (score of scores; track $index) {
            <div class="flex flex-row justify-between p-1 md:p-2" [class]="isTopScores && account() && account()!.id == score.account.id ? 'font-bold text-pink-600' : ''">
                <span class="w-[32.5%] text-ellipsis text-nowrap overflow-hidden">{{isTopScores ? score.account.user.username : score.game.name}}</span>
                @if(!isTopScores) {<span class="w-[32.5%] px-1 md:px-2 text-ellipsis text-nowrap overflow-hidden">{{score.game.type.name}}</span>}
                <span class="w-[14%] text-ellipsis text-nowrap overflow-hidden">{{score.score}}</span>
                <span class="w-[21%] pl-1 md:pl-2 text-ellipsis text-nowrap overflow-hidden">{{score.date | date: 'dd/MM/yy'}}</span>
            </div>
        }
    </div>
</div>
