@if(maxPages > 1 || onePageVisible) {
    <div class="flex flex-row gap-y-4 gap-x-2 justify-center items-center text-slate-200 overflow-x-auto">
        <!-- Previous button -->
        @if(currentPage > 1) {
            <span class="cursor-pointer px-2 py-1 border-2 rounded-md border-pink-600 hover:bg-pink-600" (click)="previous()">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
        }@else {
            <span class="px-2 py-1 border-2 rounded-md border-pink-600 border-opacity-50">
                <i class="fa-solid fa-chevron-left opacity-50"></i>
            </span>
        }
        
        <!-- Pages -->
         <!-- TODO: Max 10 pages visible  -->
        @for (page of pages; track $index;) {
            @if(page == currentPage) {
                <span class="px-2 py-1 border-2 rounded-md border-pink-600 bg-pink-600 font-bold">{{page}}</span>
            }@else {
                <span class="cursor-pointer px-2 py-1 border-2 rounded-md border-opacity-0 hover:border-opacity-100 border-pink-600" (click)="goToPage(page)">{{page}}</span>
            }
        }
        
        <!-- Next button -->
        @if(currentPage < maxPages) {
            <span class="cursor-pointer px-2 py-1 border-2 rounded-md border-pink-600 hover:bg-pink-600" (click)="next()">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        }@else {
            <span class="px-2 py-1 border-2 rounded-md border-pink-600 border-opacity-50">
                <i class="fa-solid fa-chevron-right opacity-50"></i>
            </span>
        }
    </div>
}