<div class="flex flex-col items-center">
    <!-- Title -->
    <div class="w-9/12 mb-6 border-b-2 border-pink-600">
        <h2 class="text-2xl text-slate-200">Création d'un jeu</h2>
    </div>

    @if (!gameID || (gameID && gameToUpdate)) {
    
    <!-- Game Creation Form -->
    <form [formGroup]="creationForm" (ngSubmit)="submit()" class="flex flex-col w-full lg:w-1/2 p-6 rounded bg-slate-700">
        <!-- Game name -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <input pInputText id="name" formControlName="name" class="w-full py-3 px-2 peer"/>
                <label for="name" class="peer-focus:text-slate-200">Nom du jeu</label>
            </p-floatLabel>
            @if (creationForm.get('name')!.touched && creationForm.get('name')!.errors) {
                @if (creationForm.get('name')!.errors!['required']) {
                    <span class="text-red-600 text-sm">
                        Le nom du jeu est obligatoire.
                    </span>
                }
                @if (creationForm.get('name')!.errors!['minlength']) {
                    <span class="text-red-600 text-sm">
                        Le nom du jeu doit comporter minimum 3 caractères.
                    </span>
                }
            }
        </div>

        <!-- Cover -->
        <div class="flex flex-col mb-6">
            <button type="button" (click)="fileInput.click()" class="bg-sky-400 hover:bg-sky-500 text-slate-700 font-bold py-2 px-4 rounded cursor-pointer">
                <span>{{!selectedCover ? 'Sélectionner une couverture' : 'Modifier la couverture'}}</span>
                <input #fileInput type="file" (change)="onCoverSelected($event)" style="display:none;" />
            </button>
            @if (!gameToUpdate || (gameToUpdate && isCoverUpdated)) {
                <span class="text-slate-200">{{selectedCover ? selectedCover : 'Aucun fichier sélectionné'}}</span>
            }@else{
                <div class="h-24 mt-2 flex justify-center">
                    <img [src]="selectedCover" [alt]="gameToUpdate.name" class="h-full w-auto">
                </div>
            }
            
            @if (creationForm.get('cover_url')!.touched && creationForm.get('cover_url')!.errors) {
                <span class="text-red-600 text-sm">
                    L'image de couverture du jeu est obligatoire.
                </span>
            }
        </div>

        <!-- Type -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <p-dropdown id="type"
                [options]="types" 
                 formControlName="type_id"
                 optionLabel="name" 
                 optionValue="id"
                 [filter]="true"
                 filterBy="name" 
                 [showClear]="true"  
                 styleClass="w-full" 
                 /> 
                <label for="type">Type</label>
            </p-floatLabel>

            @if (creationForm.get('type_id')!.touched && creationForm.get('type_id')!.errors) {
                <span class="text-red-600 text-sm">
                    Le type du jeu est obligatoire.
                </span>
            }
        </div>
        
        <!-- Theme -->
        <div class="flex flex-col mb-6">
            <div class="flex flex-row ">
                <p-floatLabel class="grow">
                    <p-dropdown id="theme"
                        [options]="themes" 
                        formControlName="theme_id"
                        optionLabel="name" 
                        optionValue="id"
                        [filter]="true"
                        filterBy="name" 
                        [showClear]="true"  
                        styleClass="w-full" #themeDropdown/> 
                    <label for="theme">Thème</label>
                </p-floatLabel>

                <button type="button" class="bg-sky-400 hover:bg-sky-500 text-slate-700 font-bold py-2 px-4 rounded cursor-pointer ml-2" (click)="openThemesCreator()">+</button>
            </div>
            @if (creationForm.get('theme_id')!.touched && creationForm.get('theme_id')!.errors) {
                <span class="text-red-600 text-sm">
                    Le thème du jeu est obligatoire.
                </span>
            }
        </div>

        <!-- if type is 'Image Guessing' then display the medias section -->
        @if (creationForm.get('type_id')!.value == imageGuessId) { 
            <!-- Medias -->
            <div class="flex flex-col mb-6">
                <div class="flex flex-row flex-wrap gap-2">
                    @for (media of mediasSelected; track $index) {
                        <div class="h-24 relative">
                            <img [src]="media.url" [alt]="media.name" class="h-full w-auto peer">
                            <span (click)="removeMedia(media)" class="absolute h-fit -top-1 right-0 text-xl text-pink-600 cursor-pointer">&times;</span>
                        </div>
                    }@empty {
                        <p class="text-slate-200">Aucun média sélectionné</p>
                    }
                </div>
                <button type="button" class="bg-sky-400 hover:bg-sky-500 text-slate-700 font-bold py-2 px-4 rounded cursor-pointer mt-2" (click)="openMediasSelector()">
                    {{mediasSelected.length > 0 ? 'Modifier les médias' : 'Ajouter des médias'}}
                </button>
            </div>
        }
    
        <!-- Submit -->
         @if (creationForm.invalid) {
            <button type="submit" 
            class="bg-pink-950 text-slate-200 font-bold py-2 px-4 rounded cursor-not-allowed" disabled>
            {{!gameToUpdate ? 'Ajouter le jeu':'Modifier le jeu'}}
           </button>
         }@else {   
             <button type="submit" 
             class="bg-pink-600 hover:bg-pink-700 text-slate-200 font-bold py-2 px-4 rounded cursor-pointer">
             {{!gameToUpdate ? 'Ajouter le jeu':'Modifier le jeu'}}
            </button>
        }
    </form>
    }
</div>

<app-media-selector [isVisible]="isMediasSelectorVisible" [medias]="medias" [selectedMedias]="mediasSelected" (selectedMediasEvent)="onSelectedMedias($event)"/>
<app-theme-creator [isVisible]="isThemeCreatorVisible" (themeCreatedEvent)="onThemeCreated($event)"/>