<div class="flex flex-col items-center">
    <!-- Title -->
    <div class="w-9/12 mb-6 border-b-2 border-pink-600">
        <h2 class="text-lg md:text-2xl text-slate-200">Création de votre compte</h2>
    </div>

    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="flex flex-col w-full md:w-1/2 p-6 rounded bg-slate-700">
        <!-- Username -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <input pInputText id="username" formControlName="username" class="w-full py-3 px-2 peer">
                <label for="username" class="peer-focus:text-slate-200">Nom d'utilisateur</label>
            </p-floatLabel>
    
            @if (registerForm.get('username')!.dirty && registerForm.get('username')!.errors) {
                <span class="text-red-600 text-sm">
                    Veuillez entrer un nom d'utilisateur valide.
                </span>
            }
        </div>
        
        <!-- Email -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <input pInputText id="email" formControlName="email" class="w-full py-3 px-2 peer">
                <label for="email" class="peer-focus:text-slate-200">Email</label>
            </p-floatLabel>
    
            @if (registerForm.get('email')!.dirty && registerForm.get('email')!.errors) {
                <span class="text-red-600 text-sm">
                    Veuillez entrer une adresse mail valide.
                </span>
            }
        </div>
    
        <!-- Password -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <p-password id="password" formControlName="password" styleClass="w-full" inputStyleClass="w-full py-3 px-2" [feedback]="false"/>
                <label for="password">Mot de passe</label>
            </p-floatLabel>
            
            @if (registerForm.get('password')!.dirty && registerForm.get('password')!.errors) {
                <span class="text-red-600 text-sm">
                    8 caractères minimum, dont au moins une lettre majuscule, une lettre minuscule, un chiffre, et un caractère spéciaux (!, &#64;, #, $, .)
                </span>
            }
        </div>
    
        <!-- Password2 -->
        <div class="flex flex-col mb-6">
            <p-floatLabel>
                <p-password id="password2" formControlName="password2" styleClass="w-full" inputStyleClass="w-full py-3 px-2" [feedback]="false"/>
                <label for="password2">Retapez votre mot de passe</label>
            </p-floatLabel>

            @if ((registerForm.get('password')!.dirty && registerForm.get('password2')!.dirty) && registerForm.hasError('passwordMismatch')) {
                <div class="text-red-600 text-sm">
                    Les mots de passe ne sont pas identiques.
                </div>
            }

        </div>
    
        <!-- Submit -->
        @if (registerForm.invalid) {
            <app-button [isSubmit]="true" text="S'enregistrer" [btnType]="btnTypes.PINK" [disabled]="true"/>
         }@else {   
            <app-button [isSubmit]="true" text="S'enregistrer" [btnType]="btnTypes.PINK"/>
        }
    </form>
</div>
