<div class="flex flex-col items-center">
    <!-- Title -->
    <div class="w-9/12 mb-6 border-b-2 border-orange-600">
        <h2 class="text-2xl text-slate-200">Création de votre compte</h2>
    </div>

    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="flex flex-col w-full lg:w-1/2 p-4 rounded bg-slate-700">
        <!-- Username -->
        <div class="flex flex-col mb-4">
            <label for="username" class="text-slate-200 mb-1">Nom d'utilisateur</label>
            <input id="username" type="text" formControlName="username" placeholder="Nom d'utilisateur" class="rounded bg-slate-200 px-1">
    
            @if (registerForm.get('username')!.dirty && registerForm.get('username')!.errors) {
                <span class="text-red-600 text-sm">
                    Veuillez entrer un nom d'utilisateur valide.
                </span>
            }
        </div>
        
        <!-- Email -->
        <div class="flex flex-col mb-4">
            <label for="email" class="text-slate-200 mb-1">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="mail@example.com" class="rounded bg-slate-200 px-1">
    
            @if (registerForm.get('email')!.dirty && registerForm.get('email')!.errors) {
                <span class="text-red-600 text-sm">
                    Veuillez entrer une adresse mail valide.
                </span>
            }
        </div>
    
        <!-- Password -->
        <div class="flex flex-col mb-4">
            <label for="password" class="text-slate-200 mb-1">Mot de passe</label>
            <input id="password" type="password" formControlName="password" placeholder="Mot de passe" class="rounded bg-slate-200 px-1">
            
            @if (registerForm.get('password')!.dirty && registerForm.get('password')!.errors) {
                <span class="text-red-600 text-sm">
                    8 caractères minimum, dont au moins une lettre majuscule, une lettre minuscule, un chiffre, et un caractère spéciaux (!, &#64;, #, $, .)
                </span>
            }
        </div>
    
        <!-- Password2 -->
        <div class="flex flex-col mb-4">
            <label for="password2" class="text-slate-200 mb-1">Retaper votre mot de passe</label>
            <input id="password2" type="password" formControlName="password2" placeholder="Mot de passe" class="rounded bg-slate-200 px-1">

            @if ((registerForm.get('password')!.dirty && registerForm.get('password2')!.dirty) && registerForm.hasError('passwordMismatch')) {
                <div class="text-red-600 text-sm">
                    Les mots de passe ne sont pas identiques.
                </div>
            }

        </div>
    
        <!-- Submit -->
        @if (registerForm.invalid) {
            <button type="submit" 
            class="bg-orange-950 text-slate-200 font-bold py-2 px-4 rounded cursor-not-allowed mt-2" disabled>
            S'enregistrer
           </button>
         }@else {   
             <button type="submit" 
             class="bg-orange-700 hover:bg-orange-800 text-slate-200 font-bold py-2 px-4 rounded cursor-pointer mt-2">
             S'enregistrer
            </button>
        }
    </form>
</div>
